*{
    margin: 0;
    -x: hidden;
}
html {
  scroll-behavior: smooth;
}
/* navbar  */
#title{
    background-image: url("images/bit.jpg");
    background-size: cover;
}
#cycle-page{
    background-color: rgb(255, 255, 255);
}
.navbar{
     padding-top: 1rem;
     padding-bottom: 1rem;
}
.navColor{
     color: whitesmoke;
}
.navColor:hover{
     color: rgb(228, 245, 244);
     transform: scale(1.15);
}
.navbar-brand{
     font-family: 'Ubuntu', sans-serif;
     vertical-align: middle;
     font-size: 2.5rem;
     font-weight: bold;
     /* margin-right: 0; */
     /* margin-bottom: 10%; */
}
.navColor1{
     color: whitesmoke;
}
.navColor1:hover{
     color: white;
}
.nav-item{
     padding: 0 25px;
}
.nav-link{
     font-size: 1.25rem;
     font-family: 'Montserrat', sans-serif;
     font-weight: 900;
}
.navbar-toggler-icon{
    background-color: white;
    border-radius: 10%;
}
.img{
     width: 15%;
     height: 15%;
}
/* yaha se header wala toggle  */
.chota{
    width: 20%;
    top: 0;
    margin-left: 60px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    font-weight: 550;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    color: #818181;
    display: block;
    transition: 1s;
}

.sidenav a:hover {
    color: #000000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 50px;
    padding-bottom: 50px;
    margin-right: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
hr{
    margin: 0 ;
}
.open {
    font-size: 30px;
}

.uparthoda1 {
    margin-top: 40px;
}
.sanchit{
    line-height: 2.5rem;
}
i{
    margin-right: 10px;
}
.sanchit1{
    line-height: 1.5rem;
}
.sanchit1:hover{
   color: black;
   font-size: 1.3rem;
}
.sanchit, .sanchit:hover, .sanchit:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.4s;
}
.sanchit:hover{
    background-color: rgb(192, 191, 191);
}
/* yaha tak hai  */

/* nav over*/
.carousel-indicators li{
     background-color: black;
}
.carousel-indicators .active{
    background-color: blue;
}
.carousel-control-next-icon{
     background-color: black;
     border-radius: 100%;
}
.carousel-control-prev-icon{
     background-color: black;
     border-radius: 100%;
}
.cycle-display{
   display: flex;
   /* background-color: whitesmoke; */
   background-image: -webkit-linear-gradient(300deg, #dddddd 60%, #4e5f70 90%);
   opacity: 0.9;
   color: rgb(58, 58, 58);
}
.cycle-photos{
     width: 50vw;
     height: 95vh;
     padding: 2vw;
     padding-right: 5%;
     padding-top: 5%;
}
.cycle-photos img{
     /* background-image: url("images/bit1.jpg");  */
     background-color: black;
     background-size: cover;
     padding: 2.5%;
     width: 100%;
     height: 525px;
}
.cycle-info{
    width: 40%;
    padding-left: 10px;
    padding-top: 2%;
}
.cycle-name{
     font-family: 'Bebas Neue', cursive;
     color: black;
     border-bottom: 5px outset darkgray;
     border-radius: 3%;
     margin-bottom: 5%;
     letter-spacing: 5px;
     text-align: left;
     font-size: 3.5rem;
}
.cycle-rating{
     text-align: center;
     font-size: 26px;
}
h4{
     font-size: 1.5rem;
}
.checked{
     color: orange;
}
.cycle-details{
     font-size: 1.2rem;
     list-style: none;
     padding-bottom: 3vh;
     padding-top: 3vh;
     font-family: 'Josefin Sans', sans-serif;
}
.owner-details{
     font-size: 1.2rem;
     list-style: none;
     padding-bottom: 3vh;
     padding-top: 3vh;
     font-family: 'Josefin Sans', sans-serif;
}
.user-reviews{
     font-size: 1.5rem;
     list-style: none;
     padding-bottom: 10%;
     padding-top: 5%;
     font-family: 'Josefin Sans', sans-serif;
}
.userHead{
     color: rgb(3, 3, 26);
}
.upar{
     margin-top: 10px;
     margin-bottom: 10px;
}
.property{
     font-weight: bold;
     font-size: 1.4rem;
     line-height: 2.5rem;
}
.chatbtn{
     margin-top: 10%;
}
h4{
     border-bottom: 1px solid black;
     border-radius: 6%;
     font-weight: bold;
}
.hidden{
     display: none;
}
.neeche{
     margin-bottom: 10%;
}
.comment{
     /* font-size: 1.1rem; */
     font-weight: bold;
}
.thodaUpar{
     margin-top: 20px;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.rent-cycle{
     /* font-size: 1.2rem; */
     color: black;
     padding-top: 20px;
     padding-bottom: 5%;
     border-radius: 2%;
}
.rent-dates{
     font-weight: bold;
     font-size: 1.5rem;
     line-height: 2.5rem;
}
.thoda{
     margin-top: 10px;
}
/* FOOTER */
.fsoc{
    background-color: #799351;
}
.fback{
    background-color: #000000;
}
.uparthoda{
    padding-top: 3%;
}
.feedback{
    width: 60px;
    margin-bottom: 4px;
}
.fandar{
    color: whitesmoke;
}
.flink {
    color: whitesmoke;
}
.flink:hover{
    color: turquoise;
}

@media(max-width: 1000px){
     .cycle-photos img{
          height: 420px;
     }
     .cycle-name{
          font-size: 3rem;
     }
}
@media(max-width: 760px){
     
     .cycle-display{
          flex-direction: column;
     }
     .cycle-photos{
          align-self: center;
          padding: 0;
          padding-top:5vh;
          width: 80vw;
          height: 50%;
     }
     .cycle-info{
          padding-top: 100px;
          width: 90vw;
     }
}
@media (max-width: 625px){
     .cycle-name{
          font-size: 2.5rem;
     }
    .navbar-brand{
         width: 75%;
    }
    .open {
        font-size: 15px;
    }
    .chota{
        margin-left: 15px;
    }
}
@media(max-width: 500px){
     .cycle-display{
          flex-direction: column;
     }
     .cycle-photos{
          align-self: center;
          padding: 0;
          padding-top:5vh;
          width: 80vw;
          height: 400px;
     }
     .cycle-photos img{
          align-self: center;
          width: 80vw;
          height: 400px;
     }
     .cycle-info{
          width: 90vw;
     }
}
@media(max-width: 415px){
     .property{
          font-size: 1.4rem;
     }
     .navbar-brand{
          width: 77%;
     }
     .cycle-name{
          font-size: 2rem;
     }
     .cycle-display{
          flex-direction: column;
     }
     .cycle-photos{
          align-self: center;
          padding: 0;
          padding-top:5vh;
          width: 80vw;
          height: 300px;
     }
     .cycle-photos img{
          align-self: center;
          width: 80vw;
          height: 300px;
     }
     .cycle-info{
          width: 90vw;
     }
}