#chat-page{
    width: 70%;
    position:relative;
    left:15%;
    border: black 2px solid;
    border-radius: 5px;
}
#my-chat{
    padding: 1vw;
    display: flex;
    flex-direction: column;
}
.sender-name{
    font-weight: bold;
    font-family: "Acme";
    width: 100%;
    font-size: 40px;
    background-color: lightblue;

}
.my-message{
    border: black 1px solid;
    border-radius: 3px ;
    padding: 0.5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    max-width: 80%;
    word-wrap: break-word;
    
    float: right;
    text-align: left;
    font-size: 23px;
    font-family: "Satisfy";
    color: orange;
    
}
.my-message-time{
    text-align: right;
    font-size: 13px;
}
.sender-message{
    padding: 0.5vw;
    border: black 1px solid;
    border-radius: 3px ;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    max-width: 80%;
    word-wrap: break-word;
    
    float: left;
    text-align: left;
    font-size: 23px;
    font-family: "Satisfy";
    
}
.sender-message-time{
    text-align: right;
    font-size: 13px;
}
.chat-form{
    padding: 1vw;
}
.chat-form input{
    width: 90%;
}