body {
  padding-top: 0;
  font-size: 12px;
  color: #777;
  /* background: #f9f9f9; */
  background-image: url("images/bg.jpg");
  font-family: 'Open Sans',sans-serif;
  margin-top:20px;
  background-color: lightgrey;
  text-align: center;
}
.heading{
     font-family: 'Lexend Deca', sans-serif;
     color: green;
     font-size: 3.5rem;
     font-weight: bold;
     padding-top: 2%;
     margin-bottom: 5%;
}
.img-circle{
  margin-right: 10px;
  border-radius: 100%;
}
.friend-name{
     font-size: 2rem;
     margin-bottom: 80px;
     font-family: 'Alegreya SC', serif;
     color: black;
}
.friend-name:hover{
     color: darkblue;
     transform: scale(1.10);
}
.friend-list li.active a {
  background-color: #f1f5fc;
}